<ul class="list-unstyled">
  <form id="categories-form">

    {{#radio-button value='' groupValue=type changed="filterCategory"}}
      Todas
    {{/radio-button}}

    {{#each categories as |category|}}
      <li>
        {{#radio-button value=category groupValue=type changed="filterCategory"}}
          {{category}}
        {{/radio-button}}
      </li>
    {{/each}}
  </form>
</ul>
