body {
  font-family: Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

// TYPOGRAPHY

a {
  color: #000;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

// COURSES

.list-item {
  margin-bottom: 15px;
  .course {
    border: 1px solid #ccc;
    position: relative;
    display: block;
    max-width: 220px;
    height: 270px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: opacity,0.4s;
    -moz-transition: opacity,0.4s;
    transition: opacity,0.4s;
    position: relative;
    .description {
      padding: 10px;
      color: #444;
      min-height: 65px;
      text-align: left;
      .title {
        font-weight: bold;
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 0;
        -webkit-transition: color 0.2s linear 0s;
        -moz-transition: color 0.2s linear 0s;
        transition: color 0.2s linear 0s;
      }
    }
  }
}

// VIDEO

.video-player {
  width: 100%;
  height: 100%;
}

//HEADER

.navbar .logo {
  width: 12.5%;
  display: inline;
  float: left;
  margin: 0;
  padding: 8px 30px 8px 12px;
  border-left: 1px solid #e7e7e7;
}

// PANELS

.panel {
  border: 0;
  padding: 10px;
  .panel-heading {
    background-color: transparent;
  }
  .panel-body {
    padding: 5px;
  }
}

// STARS

.description .stars {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
}

span.glyphicon-star {
  color: #FFD35F;
}

// INPUT

label {
  width: 100%;
  padding: 0 0 5px 5px;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  &.checked {
    background-color: #FFF9BB;
  }
  input[type="radio"] {
    visibility:hidden;
    &:before {
      visibility:visible;
      content:"\002b";
    }
    &:checked {
      visibility:hidden;
      &:before {
        visibility:visible;
        content:"\e007";
        color: #55BC79;
      }
    }
  }
}
