<div class="col-md-8">
  <iframe src="{{format-video-url model.preview_video_url}}" class="video-player"></iframe>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>{{model.title}}</h2>
    </div>
  </div>
</div>