/* 
  ALL THEME VARIABLES CAN BE CHANGED HERE
*/

// BACKGROUND
$bg-main-color: #f3f3f3;
$bg-secondary-color: #fff;

// TEXT
$text-color: #000;

// BUTTONS
$primary-color: #f03;
$primary-color-darker: #d1002a;
$success-color: #55BC79;

// BORDERS
$border-header: 1px solid #e7e7e7;
$border-main: 1px solid #ccc;

// OTHERS
$star-color: #FFD35F;
