<header>
  <nav class="navbar navbar-default">
    <div class="content">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <figure class="logo">
          {{#link-to "courses"}}
            <img alt="Logo eduK - Cursos Online com Certificado" itemprop="logo" src="//d28gaw6fmqgea0.cloudfront.net/assets/eduk-1dfc2216740d88f7602969dc905ed074.svg">
          {{/link-to}}
        </figure>
      </div>
    </div>
  </nav>
</header>